@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


*{  							/* toda vez que iniciar com * refere-se para todos os codigos */

	margin: 0;					/* margin para todos */
	padding: 0;					/* altura do retangulo */
	font-family: Arial, Helvetica, sans-serif, 'open sans', sans-serif;
	color: #999;				/* cor padrao para todos */
}

html{ 							/* serve para todas a pagina html */

	font-size: 62.5%;			/* tamanho da fonte */

}

.form_login{					/* toda vez que iniciar com . refere-se a class */

	width: 700px;				/* definir a largura */
	margin: 7rem auto;
	
}



h1{

	font-size: 4rem;
	margin-bottom: 2.5rem;
	color: #00008B;
}

.agrupamento_login{ 				/* toda vez que iniciar com . refere-se a class no caso um agrupamento */

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border: 1px solid #00008B;
	padding: 5rem;
	border-radius: 8px;
	box-shadow: 0px 1px 10px #00008B;


}


#cpf_aluno{ 						/* toda vez que iniciar com # refere-se a ID do input */
width: 30rem; 						/* definir a largura do retangulo */
padding: 2.0rem; 					/* altura do retangulo */
margin-bottom: 5.0rem; 				/* margind inferior do input */
margin-top: 3.0rem; 				/* margind superior do input */
border: 3px solid #FFFA6A; 			/* cor da borda do retangulo */
border-radius: 20px; 				/* tamanho do raio da borda curvatura */

}

label, input[type="text"], input[type="password"],input[type="submit"]{
	display: inline-block;

	font-size: 1.5rem;

}

input[type="text"], input[type="password"]{

	width: 300px;
	padding: 1.0rem;
	margin-top: 1.2rem;
	margin-bottom: 1.2rem;
	border: 1px solid #CCC;
	border-radius: 8px;

}

input[type="submit"]{
	
	display: inline-block;
	color: #FFF;
	width: 125px;
	padding: 1.0rem;
	margin-top: 1.2rem;
	margin-bottom: 1.2rem;
	border: 1px solid #CCC;
	border-radius: 20px;
	background: #511c04;
	border: 0;
	border: 1px solid blue;
	border-radius: 8px;
	cursor: pointer;

}



.logo_login{
	
	width: 200px;

}



/* CSS ADMIN */

/* MENU */ 


.barra_topo{

	display: flex;
	flex-direction: column;


}

.barra_topo_n1{

	display: flex;
	flex-direction: row;
	justify-content: space-between;	
	align-items: center;
	padding: 1rem;

}

.barra_topo_n1 > img{
	
	width: 100px;

}


.barra_topo_n2{

	padding: 0.5rem;
	background: #00008B;

}

.menu_admin{

	list-style:none;
	float:left;
	width: 100%;

}

.menu_admin li{

	position: relative;
	float:left;
	border-right: 1px solid #FFF;
	font-size: 1.2rem;
	width: 10%;
	text-align: center;


}

.menu_admin li a{

	color:#FFF; 
	text-decoration:none; 
	padding: 1rem 1rem; 
	display:block;

}

.menu_admin li a:hover{

	background: #00BFFF;
	color: #FFF;
	font-weight: 600;

}


.menu_admin li  ul{
	
	position:absolute;
	top:35px;
	left:0;
	background: #00008B;
	display:none;
	
}

.menu_admin li:hover ul, .menu li.over ul{
	
	display:block;

}

.menu_admin li ul li{
	
	border-bottom:1px solid #FFF;
	display:block;
	width: 200px;
	text-align: left;
}



/* FIM CSS MENU ADMIN*/


/* CURSO.PHP */

.form_curso{

	width: 1000px;
	margin: 4rem auto;

}

.form_curso > div > h1{

	font-size: 2rem;

}

.form_curso > div > input[type="submit"]{

	width: 150px;

}


.estila_tabela{

	width: 1000px;
	margin: 4rem auto;

}

.estila_tabela > div > h1{

	font-size: 2rem;

}


table{

	width: 100%;

}


.tabela_cabecalho{

	font-weight: 600;
	height: 5rem;
}

td{

	font-size: 1.4rem;
	border-bottom: 1px solid #069;
	text-align: center;
	

	
}

.agrupamento_curso{

	display:flex;
	flex-direction: column;
	/*justify-content: left;*/
	align-items: left;
	
	border: 1px solid #069;
	padding: 5rem;
	border-radius: 8px;

}

.agrupamento_exibir_curso{
	
	display:flex;
	flex-direction: row;
	justify-content: space-between;	
	align-items: center;
	
	border: 1px solid #069;
	padding: 5rem;
	border-radius: 8px;
}

.agrupamento_botao_acao{
	
	display:flex;
	flex-direction: colum;
	justify-content: space-between;	
	align-items: center;
}

.botao_acao{
	
	width: 35px;
	cursor:pointer;
	margin-top: 0.2rem;
	margin-bottom: 0.2rem;
	

}


